<h1 id="page-title">Friendly Tunes - <em>Tunes with your Friends</em> :)</h1>

<div id="container">
  <div id="music">
    <h2>Music</h2>

    <ul>
      <li>
        <p>
          Song 1
        </p>
        <p>
          Band 1
        </p>
      </li>
      <li>
        <p>
          Song 2
        </p>
        <p>
          Band 2
        </p>
      </li>
    </ul>
    <div id="addsong">
      <h3>Add New Song</h3>
      <p>Song Title: <input type="text"></p>
      <p>Artist Title: <input type="text"></p>
      <button>Add</button>
    </div>
  </div>

  <div id="chat">
    <h2>Chat</h2>
    <ul>
      <li>
        <p>
          Person 1 at 5:55pm
        </p>
        <p>
          message text message text
        </p>
      </li>
      <li>
        <p>
          Person 2 at 5:55pm
        </p>
        <p>
          message text message text
        </p>
      </li>
    </ul>
    <textarea placeholder="speak!"></textarea>
    <button>Submit</button>
  </div>
</div>
